@import "tailwindcss";

@font-face {
    font-family: 'cormorant';
    src: url('/assets/fonts/cormorant/cormorant-variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-cormorant: 'cormorant', serif;
	--color-gold: #a27f2e;
	--color-platinum: #ececec;
    --color-shadow: #161925;
}

html, body {
	background-color: transparent;
}