---
import Main from "@layouts/Main.astro";
import PageBanner from "@components/PageBanner.astro";
import { Image } from "astro:assets";
import * as m from "@paraglide/messages.js";
---

<Main title={m.NAV_CONTACT()} description={""}>
    <PageBanner title={m.CONTACT_PAGE_TITLE()} />
    <div class="bg-platinum/80 p-6 md:p-18">
        <h2 class="text-center text-lg md:text-xl font-bold text-gold mb-6">Get in touch with us</h2>
        <div class="flex flex-col sm:flex-row justify-center gap-4">
            <a
                href="http://eepurl.com/wb3kP"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center gap-2 bg-gold text-platinum px-6 py-3 rounded-lg text-sm md:text-base hover:opacity-80 transition-opacity w-full sm:w-64"
            >
                <Image
                    src="/icons/inbox.svg"
                    alt="Email"
                    width={16}
                    height={16}
                    style="filter: brightness(0) invert(1) brightness(0.925);"
                />
                Join our email newsletter
            </a>
            <a
                href="tel:+16137418000"
                class="inline-flex items-center justify-center gap-2 bg-gold text-platinum px-6 py-3 rounded-lg text-sm md:text-base hover:opacity-80 transition-opacity w-full sm:w-64"
            >
                <Image
                    src="/icons/phone.svg"
                    alt="Phone"
                    width={16}
                    height={16}
                    style="filter: brightness(0) invert(1) brightness(0.925);"
                />
                +1 (613) 741-8000
            </a>
        </div>
    </div>
    <div class="bg-shadow/70 p-18">
        <h2 class="text-center text-lg md:text-xl font-bold text-platinum mb-6">Book time with one of the Fathers</h2>
    </div>
    <div class="bg-platinum/80 p-6 md:p-18">
        <h2 class="text-center text-lg md:text-xl font-bold text-gold mb-6">Map & Directions</h2>
        <div class="w-full md:h-112.5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.8317385341106!2d-75.6209568!3d45.4328931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0fecb67a1c89%3A0xd2cc27d126b08d44!2sSt.%20George%20%26%20St.%20Anthony%20Coptic%20Orthodox%20Church!5e0!3m2!1sen!2sca!4v1773442718107!5m2!1sen!2sca"
                class="w-full h-64 md:h-full rounded-lg"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
        </div>
    </div>
</Main>
