---
import Main from "@layouts/Main.astro";
import PageBanner from "@components/PageBanner.astro";
import * as m from "@paraglide/messages.js";
---

<Main title={m.COTTAGE_PAGE_TITLE()} description={""}>
    <div class="min-h-screen bg-shadow">
        <PageBanner title={m.COTTAGE_PAGE_TITLE()} />
    </div>
</Main>
