---
import Layout from "@layouts/Layout.astro";
import * as m from "@paraglide/messages.js";
---

<Layout title={m.DEACONS_SCHEDULE_PAGE_TITLE()}>
	<main>
		<h1>{m.DEACONS_SCHEDULE_PAGE_TITLE()}</h1>
	</main>
</Layout>
