---
import Main from "@layouts/Main.astro";
import * as m from "@paraglide/messages.js";
---

<Main title={m.OUR_CHURCH_PAGE_TITLE()} description={""}>
    <h1>{m.OUR_CHURCH_PAGE_TITLE()}</h1>
</Main>
