---
import Main from "@layouts/Main.astro";
import PageBanner from "@components/PageBanner.astro";
import * as m from "@paraglide/messages.js";
---

<Main title={m.NAV_OUR_CHURCH()} description={""}>
    <PageBanner title={m.OUR_CHURCH_PAGE_TITLE()} />
</Main>
