---
import Main from "@layouts/Main.astro";
import PasswordGate from "@components/PasswordGate.astro";
import * as m from "@paraglide/messages.js";
---

<Main title={m.SERVANTS_PAGE_TITLE()} description={""}>
    <PasswordGate>
        <h1>{m.SERVANTS_PAGE_TITLE()}</h1>
    </PasswordGate>
</Main>
