---
interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#a27f2e" />

<!-- Fonts -->
<link rel="preload" href="/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/playfair-display/PlayfairDisplay-Italic-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lora/Lora-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lora/Lora-Italic.woff2" as="font" type="font/woff2" crossorigin />
