---
interface Props {
    title: string;
    textColor?: string;
    bg?: string;
}
const { title, bg, textColor = "text-gold" } = Astro.props;
---

<div class:list={["w-full py-18", bg]}>
    <h1 class:list={["text-center text-2xl md:text-3xl font-playfair", textColor]}>{title}</h1>
</div>
