---
interface Props {
    title: string;
    variant?: "standard" | "inverted";
    bg?: string;
}
const { title, variant = "standard", bg } = Astro.props;

const textClass = variant === "inverted" ? "text-platinum" : "text-gold";
---

<div class:list={["w-full py-18", bg]}>
    <h1 class:list={["text-center text-2xl md:text-3xl font-playfair", textClass]}>{title}</h1>
</div>
